Source: dr-valentin-common
Section: misc
Priority: standard
Maintainer: Equipo LliureX <lliurex@gva.es>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.7

Package: dr-valentin-common
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, python, n4d, lshw, lliurex-base-files, curl, valentin
Description:  Common tests for dr valentin
 Package containing common tests for dr valentin
